/* header-top */
html {
    margin-top: 0;
    background-color: #132123;
}

.navWrapper {
    position: fixed;
    display: flex;
    gap: 50px;
    width: 100%;
    height: auto;
    margin: auto;
    color: #FFF;
    z-index: 98;
    background-color: #132123;
    border-bottom: 1px solid #1E90FF;
}

.navWrapper .headerIcon img{
    width: 30%;
}

.navWrapper .headerNav {
    display: flex;
    align-items: center;
    gap: 80px;
    width: 100%;
}

.navWrapper .headerNav > li{
    font-size: 18px;
    font-weight: 700;
    transition: linear .5s;
}

.navWrapper .headerNav > li a:hover{
    color: #999;
}

.headerMv {
    position: relative;
    padding-top: 90px;
}

.headerMv img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    align-items: end;
}

.headerMv::after {
    position: absolute;
    display: block;
    content: "";
    background-color: #222;
    opacity: .8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.headerMv h1 {
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    text-align: center;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    z-index: 8;
}

/* 投稿ページ */

.archive {
    padding: 50px 0 200px 0;
    color: #FFF;
}

.archive h1 {
    font-size: 30px;
    font-weight: 700;
    padding-left: 40px;
    border-left: 8px solid #00da90;
    color: #fff;
    margin-bottom: 50px;
}

/* single-page */

.single {
    padding: 50px 0 200px 0;
    color: #fff;
}

/* seachform */

.searchButton {
    background-color: #55f;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    border-radius: 10%;
    padding: 10px 12px;
    cursor: pointer;
}

#search {
    background-color: #FFF;
    border-radius: 5%;
    border: #999;
    margin-left: 20px;
    padding: 2px 4px;
    color: #777;
}

/* sidebar */

.sidebar {
    position: absolute;
    right: 5%;
    top: 95%;
    padding: 60px 35px;
    border: 2px solid #777;
    text-decoration: underline;
    color: #fff;
}

.sideResultItem {
    margin-top: 10px;
}

.sideResultItem:hover {
    color: #99f;
    text-decoration: underline;
    text-decoration-color: #99f;
}

/* パンくず */

.breadcrumb {
    list-style: none;
    padding: 30px 100px;
    color: #FFF;
}
.breadcrumb .breadcrumbItem{
    display: inline;
    border-left: none;
}
.breadcrumb .breadcrumbItem a{
    color: inherit;
    text-decoration: none;
}
.breadcrumb .breadcrumbItem + .breadcrumbItem:before{
    content: ">";
    margin:.5em;
}


/* footer */

footer {
    background-color: #000;
}

.footerWrapper {
    padding: 30px 0;
}

.footerWrapper > p {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 18px;
}